.Input--Wrapper {
  display: flex;
  flex-direction: column;

}
.Input {
  border-radius: 8px;
  color: #4B7A8A;
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid #B9B9B9;
}
.Input:active,
.Input:focus {
  border: 1px solid #4B7A8A;
}
.Input:hover {
  border: 1px solid #909090;
}

.Input:disabled {
  border: 1px solid #B9B9B9;
}

.Input--Small {
  height: 14px;
  font-size: 14px;
  font-weight: 400;
}

.Input--Medium {
  height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.Input--Label {
  font-size: 12px;
  font-weight: 500;
}

.Input--Label--Disabled {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
}